amqp==5.0.6
anyjson==0.3.3
asgiref==3.3.4
beautifulsoup4==4.9.3
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
daemon==1.2
Django==3.2.4
django-celery-beat==2.2.0
django-celery-results==2.1.0
django-redis==5.0.0
django-scheduler==0.9.5
django-timezone-field==4.1.2
django-utils==0.0.2
fake-useragent==0.1.11
gevent==21.1.2
greenlet==1.1.0
icalendar==4.0.7
idna==2.10
importlib-metadata==4.6.0
ixml==0.1.0
kombu==5.1.0
lxml==4.6.3
Pillow==8.2.0
prompt-toolkit==3.0.19
pycparser==2.20
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
schedule==1.1.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
