<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1> Welcome to REST API Weather</h1>
    <p><h2> Beforo starting, please, sing in. Type /authorize/username/password</h2> </p>
    <p>To log out, please, type /logout </p>
    <p> <h2> Type your city and units into url string to get weather info.. </h2> </p>
    <p> Format: http://127.0.0.1:8000/weather/latin_name_of_city/units (possible units: F, C, K) </p>
    <p> Example: http://127.0.0.1:8000/weather/moscow/F </p>
</body>
</html>